@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700;1,800&display=swap');

.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow-x: auto;
  overflow-y: auto; /* Allow vertical scrolling only when needed */
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
}
.upper-header-blue {
  background: linear-gradient(
    180deg,
    rgba(0, 48, 255, 1) 0%,
    rgba(0, 29, 153, 1) 100%
  );
  padding: 44px 43px 44px 43px;
  display: flex;
  flex-direction: column;
  gap: 151px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1452px;
  height: 841px;
  position: relative;
}
.navigations {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 90px;
  min-width: 1000px;
  position: relative;
}
.designs {
  color: #fbd117;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 100px;
  font-weight: 600;
  position: relative;
  width: 140px;
  max-width: 200px;
}
.services {
  color: #fbd117;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 100px;
  font-weight: 600;
  position: relative;
  width: 140px;
  height: 86px;
  max-width: 200px;
}
.artists {
  color: #fbd117;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 100px;
  font-weight: 600;
  position: relative;
  flex: 1;
  height: 86px;
  max-width: 140px;
}
.graphio-logo-white {
  align-self: stretch;
  flex-shrink: 0;
  width: 240px;
  min-width: 240px;
  max-width: 900px;
  position: relative;
  object-fit: cover;
}
.login {
  color: #fbd117;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 100px;
  font-weight: 600;
  position: relative;
  flex: 1;
  height: 86px;
  max-width: 140px;
}
.help {
  color: #fbd117;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 100px;
  font-weight: 600;
  position: relative;
  flex: 1;
  height: 86px;
  max-width: 140px;
}
.be-a-graphio-designer {
  flex-shrink: 0;
  width: 140px;
  height: 63px;
  max-width: 140px;
  position: relative;
}
.designer {
  color: #fbd117;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  position: absolute;
  right: -0.14px;
  left: 0.14306640625px;
  top: 47px;
  height: 26px;
}
.be-a-graphio {
  color: #fbd117;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  position: absolute;
  right: -0.14px;
  left: 0.14306640625px;
  top: 24px;
  height: 49px;
}
.be-a-graphio-span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.be-a-graphio-span2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1079px;
  position: relative;
}
.explore-designs-earn-with-your-works {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  line-height: 89px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  min-width: 1000px;
}
.create-a-graphio-account {
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  min-width: 1000px;
  position: relative;
}
.create-a-graphio-account2 {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 54px;
  line-height: 60px;
  font-weight: 400;
  position: absolute;
  right: 5.44%;
  left: 5.47%;
  width: 89.08%;
  bottom: 20px;
}
.create-a-graphio-account-2-span {
  color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.create-a-graphio-account-2-span2 {
  color: #fbd117;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.rectangle-3 {
  background: rgba(255, 255, 255, 0);
  border-radius: 43px;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 3px;
  width: 77.74%;
  height: 70px;
  position: absolute;
  right: 11.13%;
  left: 11.13%;
  bottom: 14px;
}
.your-creations {
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1452px;
  height: 881px;
  position: relative;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 634px;
  position: relative;
}
.your-creations-deserved-to-be-in-the-spotlight {
  color: #2e2e2e;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 76px;
  line-height: 88px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.upload-designs {
  flex-shrink: 0;
  width: 379px;
  height: 100px;
  position: relative;
}
.upload-designs2 {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  line-height: 100px;
  font-weight: 500;
  position: absolute;
  right: 5.4%;
  left: 5.52%;
  width: 89.08%;
  bottom: 0px;
  height: 100px;
}
.rectangle-32 {
  background: rgba(255, 255, 255, 0);
  border-radius: 43px;
  border-style: solid;
  border-color: #2e2e2e;
  border-width: 3px;
  width: 100%;
  height: 70px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14px;
}
.picture-frame-01 {
  flex-shrink: 0;
  height: 757px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 712/757;
}
.looking-for-graphic-designer {
  background: #e5e5e5;
  padding: 91px 95px 91px 95px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1452px;
  height: 689px;
  position: relative;
}
.artist-01 {
  flex-shrink: 0;
  width: 457px;
  height: 457px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 826px;
  height: 337px;
  position: relative;
}
.looking-for-a-graphic-designer-artist {
  color: #2e2e2e;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-size: 76px;
  line-height: 88px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 189px;
}
.create-a-graphio-account3 {
  flex-shrink: 0;
  width: 520px;
  height: 100px;
  position: relative;
}
.hire-a-graphio-designer {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  line-height: 100px;
  font-weight: 400;
  position: absolute;
  right: 5.4%;
  left: 5.52%;
  width: 89.08%;
  bottom: -1px;
  height: 100px;
}
.hire-a-graphio-designer-span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.hire-a-graphio-designer-span2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.build-your-career-with-graphiofolio {
  background: #ff6f61;
  padding: 50px 84px 50px 84px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1452px;
  height: 1025px;
  position: relative;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.build-your-career-with {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 49px;
  line-height: 89px;
  font-weight: 500;
  position: relative;
  width: 1024px;
}
.graphiofolio-log-o {
  margin: -42px 0 0 0;
  flex-shrink: 0;
  width: 840px;
  height: 194px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 840/194;
}
.portfolio-01 {
  flex-shrink: 0;
  width: 1272px;
  height: 636px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 2/1;
}
.footer {
  background: #f9f9f9;
  padding: 28px 47px 28px 47px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1452px;
  position: relative;
}
.frame-14 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1346px;
  height: 134px;
  position: relative;
}
.graphio-studio-logo-blue {
  flex-shrink: 0;
  width: 265px;
  height: 106px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 265/106;
}
.frame-13 {
  flex-shrink: 0;
  width: 685px;
  height: 97px;
  position: absolute;
  left: calc(50% - 376px);
  top: 9.5px;
}
.about-graphio-studio {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 478px;
  top: 74px;
}
.privacy-policy {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 478px;
  top: 37px;
}
.terms-conditions {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 478px;
  top: 0px;
}
.help-center {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 234px;
  top: 74px;
}
.company {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 231px;
  top: 37px;
}
.contact-us {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 231px;
  top: 0px;
}
.products {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 0px;
  top: 74px;
}
.services2 {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 0px;
  top: 37px;
}
.marketplace {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 0px;
  top: 0px;
}
