@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700;1,800&display=swap');

.signup,
.signup * {
  box-sizing: border-box;
}
.signup {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.upper-header-blue {
  background: linear-gradient(
    107.23deg,
    rgba(0, 29, 153, 1) 31.361153721809387%,
    rgba(0, 48, 255, 1) 100%
  );
  padding: 72px 125px 82px 125px;
  flex-shrink: 0;
  display: grid;
  gap: 95px;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.welcome-to-graphio {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  height: 712px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.welcome-to {
  color: #f9f9f9;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  line-height: 40px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 46px;
}
.graphio-logo-white {
  flex-shrink: 0;
  width: 526px;
  height: 163px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 526/163;
}
.signup-fields {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name-txt {
  color: #fbd117;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 32px;
}
.name-field {
  border-radius: 12px;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 4px;
  align-self: stretch;
  flex-shrink: 0;
  height: 68px;
  position: relative;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
  outline: none;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.email-txt {
  color: #fbd117;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 32px;
}
.email-field {
  border-radius: 12px;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 4px;
  align-self: stretch;
  flex-shrink: 0;
  height: 68px;
  position: relative;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
  outline: none;
}
.password {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.password-txt {
  color: #fbd117;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 32px;
}
.password-field {
  border-radius: 12px;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 4px;
  align-self: stretch;
  flex-shrink: 0;
  height: 69px;
  position: relative;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
  outline: none;
}
.confirm-password {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.confirm-password-txt {
  color: #fbd117;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 32px;
}
.confirm-password-field {
  border-radius: 12px;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 4px;
  align-self: stretch;
  flex-shrink: 0;
  height: 69px;
  position: relative;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
  outline: none;
}
.signup2 {
  background: #fbd117;
  border-radius: 20px;
  padding: 21px 175px 21px 175px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.signup-lbl {
  color: #001d99;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
}
.login {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.already-have-an-account {
  color: #f9f9f9;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  line-height: 40px;
  font-weight: 300;
  position: relative;
  width: 320px;
  height: 37px;
}
.log-in {
  color: #fbd117;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  line-height: 40px;
  font-weight: 600;
  position: relative;
  width: 106px;
  height: 37px;
}
.your-creations {
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1440px;
  height: 881px;
  position: relative;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 634px;
  position: relative;
}
.your-creations-deserved-to-be-in-the-spotlight {
  color: #2e2e2e;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 76px;
  line-height: 88px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.upload-designs {
  flex-shrink: 0;
  width: 379px;
  height: 100px;
  position: relative;
}
.upload-designs2 {
  color: #2e2e2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  line-height: 100px;
  font-weight: 500;
  position: absolute;
  right: 5.4%;
  left: 5.52%;
  width: 89.08%;
  bottom: 0px;
  height: 100px;
}
.rectangle-3 {
  background: rgba(255, 255, 255, 0);
  border-radius: 43px;
  border-style: solid;
  border-color: #2e2e2e;
  border-width: 3px;
  width: 100%;
  height: 70px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14px;
}
.picture-frame-01 {
  flex-shrink: 0;
  width: 712px;
  height: 757px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 712/757;
}
.footer {
  background: #2e2e2e;
  padding: 28px 47px 28px 47px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.frame-14 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1346px;
  height: 134px;
  position: relative;
}
.graphio-studio-logo-white {
  flex-shrink: 0;
  width: 265px;
  height: 106px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 265/106;
}
.frame-13 {
  flex-shrink: 0;
  width: 685px;
  height: 97px;
  position: absolute;
  left: calc(50% - 376px);
  top: 9.5px;
}
.about-graphio-studio {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 478px;
  top: 74px;
}
.privacy-policy {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 478px;
  top: 37px;
}
.terms-conditions {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 478px;
  top: 0px;
}
.help-center {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 234px;
  top: 74px;
}
.company {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 231px;
  top: 37px;
}
.contact-us {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 231px;
  top: 0px;
}
.products {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 0px;
  top: 74px;
}
.services {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 0px;
  top: 37px;
}
.marketplace {
  color: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  position: absolute;
  left: 0px;
  top: 0px;
}
